@model GoesinProject.Models.EmailModel

@{
    /**/

    Layout = null;
}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="MyWork Resume">
    <meta name="keywords" content="resume bootstrap template, resume / cv html template, html5 / css3 resume" />
    <meta name="author" content="KingStudio.ro">
    <!-- favicon -->
    <link rel="icon" href="images/favicon.png">
    <!-- page title -->
    <title>MyWork - Resume Template</title>
    <!-- bootstrap css -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- css -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/owl.carousel.css" rel="stylesheet">
    <link href="~/css/owl.theme.css" rel="stylesheet">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='~/fonts/FontAwesome.otf' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/css/linear-icons.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="~/Scripts/SyntaxHighlighter/styles/shCore.css" rel="stylesheet" />
    @*<link href="~/Scripts/SyntaxHighlighter/styles/shThemeDefault.css" rel="stylesheet" />*@
    <link href="~/Scripts/SyntaxHighlighter/styles/shThemeMidnight.css" rel="stylesheet" />

</head>



  <body class="main-demo">
    <!-- wrapper -->
    <div id="wrapper">
        <!-- side navigation -->
        <div id="sidebar-wrapper" style="background-image:url(/images/plain.jpg)">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#"><img src="~/images/ccc.jpg" alt=""></a>
                </li>
                <li class="active">
                    <a class="menu-item page-scroll" href="#home">Home</a>
                </li>
                <li>
                    <a class="menu-item page-scroll" href="#about">About Me</a>
                </li>
                <li>
                    <a class="menu-item page-scroll" href="#facts">Facts</a>
                </li>
                <li>
                    <a class="menu-item page-scroll" href="#skill">Skills</a>
                </li>
                <li>
                    <a class="menu-item page-scroll" href="#codingchallenges">Coding Challanges</a>
                </li>
                <li>
                    <a class="menu-item page-scroll" href="#education">Education</a>
                </li>
                <li>
                    <a class="menu-item page-scroll" href="#portfolio">Current Portfolio</a>
                </li>

                <li>
                    <a class="menu-item page-scroll" href="#contact">Contact Me</a>
                </li>
                @*<li class="menu-footer">
                    <h6><i class="lnr lnr-download"></i>Download CV</h6>
                </li>*@
            </ul>
        </div>
        <!-- / side navigation -->
        <!-- content -->
        <div id="page-content-wrapper" class="header">
            <div class="container-fluid">
                <!-- header -->
                <div id="top" data-toggle="top"></div>
                <a href="#menu-toggle" id="menu-toggle"><i class="lnr lnr-menu"></i></a>
                <header id="home" style="background-image:url(/images/aaa.jpg)">
                    <div class="header-content">

                    </div>
                    <div class=" row">
                        <div class=" col-md-2">

                        </div>
                        <div class=" col-md-1">

                        </div>
                        <div class=" col-md-1">
                            <div class=" row">
                                <h2><span class="text"></span></h2>
                            </div>
                            <div class=" row">
                                <h2><span class="text"></span></h2>
                            </div>
                            <div class=" row h5">
                                <p><font color="white">EAT,</font></p>
                            </div>
                            <div class=" row h4">
                                <p><font color="white">SLEEP</font></p>
                            </div>

                            <div class=" row h1">
                                <p><font color="white">& CODE.....</font></p>
                            </div>
                        </div>
                        <div class=" col-md-1">

                        </div>
                        <div class=" col-md-1">

                        </div>
                        <div class=" col-md-6"></div>
                    </div>

                </header>
                <div class="header-content space-left-2x">
                    <h2>Hello<span class="text-primary">.</span> I am <span class="text-primary">Sarvesh Patel</span></h2>
                    <h3>My<span class="text-primary"></span>.<span class="text-primary">Portfolio</span></h3>

                    <p>This Portfolio Shows Coding Challanges/Javascript Exercises/ASP.NET MVC/WEB API projects completed at Coder Foundry </p>
                   
                </div>


                <!-- / header -->
                <!-- about -->
                <section id="about">

                    <div class="container">
                        <div class="page-header space-left ">


                            <h3>About Me<span class="text-primary">.</span></h3>
                         

                        </div>
                        <div class="row">
                            <div class="col-md-4 feature-left space-bottom">
                                <div class="feature block">
                                    <div class="feature-icon">
                                        <i class="lnr lnr-user"></i>
                                    </div>
                                    <h5>Full Name</h5>
                                </div>
                                <p>Sarveshwar Patel</p>
                                <p>Creative Web Developer</p>
                            </div><!-- / feature -->
                            <div class="col-md-4 feature-left space-bottom">
                                <div class="feature block">
                                    <div class="feature-icon">
                                        <i class="lnr lnr-calendar-full"></i>
                                    </div>
                                    <h5>Bithdate</h5>
                                </div>
                                <p>21st OCTOBER, 1984</p>
                            </div><!-- / feature -->
                            <div class="col-md-4 feature-left space-bottom">
                                <div class="feature block">
                                    <div class="feature-icon">
                                        <i class="lnr lnr-map-marker"></i>
                                    </div>
                                    <h5>Address</h5>
                                </div>
                                <p>Winston Salem, NC</p>
                            </div><!-- / feature -->
                        </div><!-- / row -->
                        <br />
                        <p>I am interested in all things related to web development. I currenlty use HTML, CSS, JS & C# to create .NET applications.</p>
                        <p>In adition to web development I am well-versed with writing SQL queries for data retrieval and manipulation.</p>
                        <p>I have also completed my training in SAS and SAP Bussiness Inteligence and Bussiness Objects and development of crystal reports.</p>
                        <!-- / features -->
                        <!-- awards -->
                        <!-- / awards -->
                    <br/>
                        <!-- facts -->
                        <div id="facts">
                            <div class="page-header space-left">
                                <h3>Facts<span class="text-primary">.</span></h3>
                            </div>
                            <div class="row">
                                <!-- fact -->
                                <div class="col-md-4">
                                    <i class="fact-icon lnr lnr-rocket"></i>
                                    <h3 class="timer" id="websites" data-to="5" data-speed="1000">184</h3>
                                    <h5 class="fact-title">Javascript Exercises </h5>
                                </div>
                                <!-- /fact -->
                                <!-- fact -->
                                <div class="col-md-4">
                                    <i class="fact-icon lnr lnr-pencil"></i>
                                    <h3 class="timer" id="logos" data-to="2" data-speed="1500">324</h3>
                                    <h5 class="fact-title">C#, MVC   training (Online)</h5>

                                </div>
                                <!-- /fact -->
                                <!-- fact -->
                                <div class="col-md-4">
                                    <i class="fact-icon lnr lnr-users"></i>
                                    <h3 class="timer" id="template" data-to="2" data-speed="2500">793</h3>
                                    <h5 class="fact-title">ASP.NET MVC CMS Project Work</h5>
                                </div>
                                <div class="col-md-4">
                                    <i class="fact-icon lnr lnr-users"></i>
                                    <h3 class="timer" id="template" data-to="2" data-speed="2500">793</h3>
                                    <h5 class="fact-title">ASP.NET MVC Project Work</h5>
                                    <p>Blog-Post Project,</p>
                                    <p> Bug-Tracker Project</p>
                                </div>
                                <!-- /fact -->
                            </div><!-- / row -->
                        </div>
                        <!-- / facts -->

                    </div><!-- / container -->
                </section>
                <!-- / about -->
                <section>
                    <div id="skill">
                        <div class="page-header space-left">
                            <h3>Skills<span class="text-primary">.</span></h3>
                        </div>
                        <div class=" row ">
                            <div class=" col-md-6">
                                <div class="row">
                                    <div class=" col-md-3 ">
                                              <img src="~/images/htmlb.jpg" />
                                       
                                    </div>
                                    <div class=" col-md-3 ">
                                        <img src="~/images/css6.jpg" />
                                       
                                    </div>
                                    <div class=" col-md-3 ">
                                        <img src="~/images/js4.png" />
                                       
                                    </div>
                                    <div class=" col-md-3">
                                        <img src="~/images/bootstrap5.png" />
                                    </div>
                                </div>
                            </div>
                           <div class="col-md-6">
                               <div class="row">
                                   <div class=" col-md-3">
                                       <img src="~/images/clogo.png" />
                                      
                                   </div>
                                   <div class=" col-md-3">
                                       <img src="~/images/mvc2.jpg" />
                                     
                                   </div>
                                   <div class=" col-md-3">
                                       <img src="~/images/ssms image.png" />
                                   </div>
                                   <div class=" col-md-3">
                                       <img src="~/images/jquery logo.png" />
                                   </div>
                               </div>
                           </div>
                            
                        </div>
                     </div>
                </section>
                    <section id="codingchallenges">
                        <div class="container">
                            <div class="page-header">
                                <h3>Coding Challenges<span class="text-primary">.</span></h3>
                                <p>In the coding challenges, there are five JavaScript exercises. Each challenge opens in a modal window. The code for each can be seen by clicking the "Show Code" button in the modal</p>
                            </div>
                            
                            <div id="posts-carousel" class="owl-carousel">
                                

                              
                                <div class="blog block carousel-post hovereffect">
                                    
                                        <img class=" img-fluid" src="~/images/mathjs1.png" alt="Sample image" />
                                        <a href="#" data-toggle="modal" data-target="#portfolioModalm">
                                            <div class="overlay">
                                                <div class="hovereffect-title">
                                                    <h6>Math Exercises</h6>
                                                </div>
                                            </div>
                                        </a>
                                    
                                        <h5>Math</h5>
                                       
                                     

                                </div>

                                <div class="blog block carousel-post hovereffect">
                                    <img class="img-fluid" src="~/images/factorial3.png" alt="Sample image">
                                    <a href="#" data-toggle="modal" data-target="#portfolioModalf">
                                        <div class="overlay">
                                            <div class="hovereffect-title">
                                                <h6>Factorial Exercises</h6>
                                            </div>
                                        </div>
                                    </a>
                                    <h5>Factorial</h5>
                                   
                                 
                                   
                                </div>

                                <div class="blog block carousel-post hovereffect">
                                    <img class="img-fluid" src="~/images/paliindrome1.jpg" alt="Sample image">
                                    <a href="#" data-toggle="modal" data-target="#portfolioModalp">
                                        <div class="overlay">
                                            <div class="hovereffect-title">
                                                <h6>Palindrome Checking</h6>
                                            </div>
                                        </div>
                                    </a>
                                    <h5>Palindrome</h5>
                                    
                                </div><!-- / carousel-post -->

                                <div class="blog block carousel-post hovereffect">
                                    <img class="img-fluid" src="~/images/fizzbuzz.jpg" alt="Sample image">
                                    <a href="#" data-toggle="modal" data-target="#portfolioModalfb">
                                        <div class="overlay">
                                            <div class="hovereffect-title">
                                                <h6>Fizz Buzz</h6>
                                            </div>
                                        </div>
                                    </a>
                                    <h5>Fizz-Buzz</h5>
                                    
                                    
                                </div><!-- / carousel-post -->

                                <div class="blog block carousel-post hovereffect">
                                    <img class="img-fluid" src="~/images/sumofallfears.jpg" alt="Sample image">
                                    <a href="#" data-toggle="modal" data-target="#portfolioModal">
                                        <div class="overlay">
                                            <div class="hovereffect-title">
                                                <h6>Sum of all Fears</h6>
                                            </div>
                                        </div>
                                    </a>
                                    <h5>Sum of all Fears</h5>
                                    <p>The sum of all fears coding challange involves an array of integers and some number called 'K'.</p>
                                    <p>If K can be derived from adding any two numbers from the array then it is said to contain that 'K' value.</p>
                                    <p>If given an array = [ 10,4,6,7 ] and a 'K' value of 17, the array contains the 'K value because 10 + 7 = 'K'.</p>
                                   
                                </div><!-- / carousel-post -->

                                <div class="blog block carousel-post hovereffect">
                                    <img src="~/images/comingsoon.jpg" alt="">
                                    <h5>Coming soon</h5>
                                
                                </div><!-- / carousel-post -->
                            </div>
                        </div>
                    </section>
                <!-- education -->
                <section id="education">
                    <div class="container">
                        <div class="page-header">
                            <h3>Education<span class="text-primary">.</span></h3>
                        </div>
                        <div class="timeline  border-color">
                            <div class="timeline-item">
                                <div class="timeline-point  off-timeline-point  point-color"></div>
                                <div class="row">
                                    <div class="col-md-3 timeline-info">
                                        <p class="timeline-date"><span class=" text-primary">June,2019-Current</p></span>
                                        <h4 class="timeline-com">Coder Foundry</h4>
                                        <h6 class="timeline-role">Web development</h6>
                                        <p class="timeline-location"><span class="text-primary">Kernersville, NC</p></span>
                                    </div><!-- / timeline-info -->
                                    <div class="col-md-9 timeline-details">
                                        <p>
                                            Full Stack Web Development Training - Bootcamp
                                        </p>

                                    </div><!-- / timeline-details -->
                                </div><!-- / row -->
                            </div><!-- / timeline-item -->
                            <div class="timeline-item">
                                <div class="timeline-point  off-timeline-point  point-color"></div>
                                <div class="row">
                                    <div class="col-md-3 timeline-info">
                                        <p class="timeline-date"><span class=" text-primary">March,2019-June,2019</p></span>
                                        <h4 class="timeline-com">Private Training</h4>
                                        <h6 class="timeline-role">Web development</h6>
                                        <p class="timeline-location"><span class=" text-primary">Online</p></span>
                                    </div><!-- / timeline-info -->
                                    <div class="col-md-9 timeline-details">
                                        <p>
                                            C# and Asp.net Mvc Training
                                        </p>

                                    </div><!-- / timeline-details -->
                                </div><!-- / row -->
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-point  off-timeline-point  point-color"></div>
                                <div class="row">
                                    <div class="col-md-3 timeline-info">
                                        <p class="timeline-date"><span class="text-primary">2006-2010</p></span>
                                        <h4 class="timeline-com">High-Point University</h4>
                                        <h6 class="timeline-role">Science Credits</h6>
                                        <p class="timeline-location"><span class="text-primary">High-Point, NC</p></span>
                                    </div><!-- / timeline-info -->
                                    <div class="col-md-9 timeline-details">
                                        <p>
                                            English
                                        </p>
                                        <p>Calculus</p>
                                        <p>Physiology</p>
                                        <p>Physiology-Lab</p>
                                    </div><!-- / timeline-details -->
                                </div><!-- / row -->
                            </div><!-- / timeline-item -->
                            <div class="timeline-item">
                                <div class="timeline-point  off-timeline-point  point-color"></div>
                                <div class="row">
                                    <div class="col-md-3 timeline-info">
                                        <p class="timeline-date"><span class="text-primary">2010-2013</p></span>
                                        <h4 class="timeline-com">RGUHS</h4>
                                        <h6 class="timeline-role">Bachelors of Science(Pharmacy)</h6>
                                        <p class="timeline-location"><span class="text-primary">India</p></span>
                                    </div><!-- / timeline-info -->
                                    <div class="col-md-9 timeline-details">
                                        <p>
                                            Bachelors of Pharmacy
                                        </p>
                                    </div><!-- / timeline-details -->
                                </div><!-- / row -->
                            </div><!-- / timeline-item -->
                        </div><!-- / timeline -->
                    </div><!-- / container -->
                </section>

                
              
                    <section id="portfolio">
                        <div class="container">
                            <div class="page-header space-">
                                <h3>Current Portfolio<span class="text-primary">.</span></h3>
                            </div>
                            <div class=" container-fluid">
                                <div class="card-deck">

                                    <div class="row">
                                        <div class=" col-md-6">
                                            <div class="card mb-4">

                                                <!--Card image-->
                                                <div class="view overlay">
                                                    <img class="card-img-top" src="~/images/myblogimage.png" alt="Card image cap">
                                                    <a href="#!">
                                                        <div class="mask rgba-white-slight"></div>
                                                    </a>
                                                </div>
                                                <br />
                                                <br />
                                                <!--Card content-->
                                                <div class="card-body">

                                                    <!--Title-->
                                                    <h4 class="card-title text-center">Blog Project</h4>
                                                    <!--Text-->
                                                    <p class="card-text">My Personal Blog</p>
                                                    <p>A MVC application where users can visit the blog & not only read materials, but create their own accounts and comments on posts</p>
                                                    <p>This application has an SQL database backend.</p>
                                                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                                    <a href="https://spblog.azurewebsites.net/" button type="button" class="btn btn-primary">View Project on Azure</a>
                                                    <a href="https://github.com/swami1234/SPblog" button type="button" class="btn btn-primary">View Source on GitHub</a>

                                                </div>

                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <div class="card mb-4">

                                                <!--Card image-->
                                                <!--Card image-->
                                                <div class="view overlay">
                                                    <img class="card-img-top" src="~/images/apilogo.jpg" alt="Card image cap">
                                                    <a href="#!">
                                                        <div class="mask rgba-white-slight"></div>
                                                    </a>
                                                </div>
                                                <br />
                                                <br />
                                                <!--Card content-->
                                                <div class="card-body">

                                                    <!--Title-->
                                                    <h4 class="card-title text-center">Web Api Project</h4>
                                                    <!--Text-->
                                                    <p class="card-text">This project is a Weather App With the DarkSky API</p>
                                                    <p>Building for the web is just about as much fun as anyone can have, especially when you’re working with an API to dynamically pull in data.</p>
                                                    <p>This project displays a weather forecast using the DarkSky API, JavaScript magic and CSS animations</p>
                                                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                                    <a href="" button type="button" class="btn btn-primary">@*View Project on Azure*@ COMING ON 10/14/2019</a>
                                                    <a href="" button type="button" class="btn btn-primary">@*View Source on GitHub*@ COMING ON 10/14/2019</a>

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <hr />
                                    <div class=" row">
                                        <div class=" col-md-6">
                                            <div class="card mb-4">

                                                <!--Card image-->
                                                <div class="view overlay">
                                                    <img class="card-img-top" src="~/images/mybugtrackerimage.png" alt="Card image cap">
                                                    <a href="#!">
                                                        <div class="mask rgba-white-slight"></div>
                                                    </a>
                                                </div>
                                                <br />
                                                <br />
                                                <!--Card content-->
                                                <div class="card-body">

                                                    <!--Title-->
                                                    <h4 class="card-title text-center">Bug Tracker Project</h4>
                                                    <!--Text-->
                                                    <p class="card-text">Enterprise multi-functional issue tracking solution MVC application that has and SQL database backend.</p>
                                                    <p>This application allows users to submit bugs within a project and assign developers to fix them.</p>
                                                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                                    <a href="https://bugtrackerone.azurewebsites.net" button type="button" class="btn btn-primary">View Project on Azure</a>
                                                    <a href="https://github.com/swami1234/BugTracker" button type="button" class="btn btn-primary">View Source on GitHub</a>

                                                </div>

                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <div class="card mb-4">

                                                <!--Card image-->
                                                <!--Card image-->
                                                <div class="view overlay">
                                                    <img class="card-img-top" src="~/images/mycms.png" alt="Card image cap">
                                                    <a href="#!">
                                                        <div class="mask rgba-white-slight"></div>
                                                    </a>
                                                </div>
                                                <br />
                                                <br />
                                                <!--Card content-->
                                                <div class="card-body">

                                                    <!--Title-->
                                                    <h4 class="card-title text-center">Content Management System(CMS)</h4>
                                                    <!--Text-->
                                                    <p class="card-text">This project is built with empty solution using repository and unit of work pattern with dependency injection feature.</p>
                                                    <p>This is also my practise project where I can experiment code to learn more advanced concepts as well as practice Sql queries with its database.</p>

                                                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                                    <a href="https://cmsproject1.azurewebsites.net/" button type="button" class="btn btn-primary">View Project on Azure</a>
                                                    <a href="https://github.com/swami1234/CMS1" button type="button" class="btn btn-primary">View Source on GitHub</a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <hr/>
                                    <div class=" row">
                                        <div class=" col-md-6">
                                            <div class="card mb-4">

                                                <!--Card image-->
                                                <div class="view overlay">
                                                    <img class="card-img-top" src="~/images/comingsoon.jpg" alt="Card image cap">
                                                    <a href="#!">
                                                        <div class="mask rgba-white-slight"></div>
                                                    </a>
                                                </div>
                                                <br />
                                                <br />
                                                <!--Card content-->
                                                <div class="card-body">

                                                    <!--Title-->
                                                    <h4 class="card-title text-center">Financial Portal - MVC</h4>
                                                    <!--Text-->
                                                    <p class="card-text">UNDER CONSTRUCTION</p>
                                                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                                    <a href="" button type="button" class="btn btn-primary">View Project on Azure</a>
                                                    <a href="" button type="button" class="btn btn-primary">View Source on GitHub</a>

                                                </div>

                                            </div>
                                        </div>
                                        <div class=" col-md-6">
                                            <div class="card mb-4">

                                                <!--Card image-->
                                                <!--Card image-->
                                                <div class="view overlay">
                                                    <img class="card-img-top" src="~/images/comingsoon.jpg" alt="Card image cap">
                                                    <a href="#!">
                                                        <div class="mask rgba-white-slight"></div>
                                                    </a>
                                                </div>
                                                <br />
                                                <br />
                                                <!--Card content-->
                                                <div class="card-body">

                                                    <!--Title-->
                                                    <h4 class="card-title text-center">Financial Portal - API</h4>
                                                    <!--Text-->
                                                    <p class="card-text">UNDER CONSTRUCTION</p>

                                                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                                                    <a href="" button type="button" class="btn btn-primary">View Project on Azure</a>
                                                    <a href="" button type="button" class="btn btn-primary">View Source on GitHub</a>

                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </section>
                
     
       

               

              
                  
             
      
                <!-- contact -->
                <section id="contact">
                    <div class="container">
                        <div class="page-header space-left">
                            <h3>Contact<span class="text-primary">.</span></h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6 space-bottom">
                                <div class="contact-description">
                                    <h5>Contact Description</h5>
                                    <p>I can't wait to build that exact feature you need in your application!</p>
                                    <p>
                                        Ok, lets create something great together

                                    </p>
                                    <p>
                                        If you like my work, have some cool project to work on or just want to say hi, send me an email or fill the contact form.
                                    </p>
                                    <p>I am available for hire and open to any ideas of cooperation.</p>
                                </div><!-- / feature-description -->
                                <div class="space-25">&nbsp;</div>
                                <div class="row">

                                    <div class="col-sm-12 feature-left space-top">
                                        <div class="feature block">
                                            <div class="feature-icon">
                                                <i class="lnr lnr-envelope"></i>
                                            </div>
                                            <h5>Email</h5>
                                            <a href="mailto:hello@mymail.com" class="contact-info-text">sarveshpatel123@gmail.com</a>
                                        </div><!-- / feature-block -->
                                    </div><!-- / col-md-6 feature-left -->
                                </div><!-- / row -->
                                <div class="row">
                                    <div class="col-sm-6 feature-left space-top">
                                        <div class="feature block">
                                            <div class="feature-icon">
                                                <i class="lnr lnr-home"></i>
                                            </div>
                                            <h5>Home Address</h5>
                                            <p>Winston-Salem, NC</p>
                                        </div><!-- / feature-block -->
                                    </div><!-- / col-md-6 feature-left -->

                                </div><!-- / row -->

                            </div><!-- / col-md-6 -->
                            <div class="col-md-6">
                                <!-- contact form-->
                                <div id="contact-form-1">
                                   @using (Html.BeginForm("ContactAsync", "Home", FormMethod.Post))
                                   {
                                       @Html.AntiForgeryToken()

                                        <div class="form-group">
                                            <input type="text" class="form-control" id="FromName" name="FromName" placeholder="Full Name" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="FromEmail" name="FromEmail" placeholder="Email" required>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            <textarea id="message" name="Message" class="form-control" rows="5" placeholder="Message" required></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <button type="submit" id="form-submit" class="btn btn-md btn-primary-filled btn-form-submit">Send Message</button>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                   }
                                </div><!-- / contact form -->
                            </div><!-- / col-md-6 -->
                        </div><!-- / row -->
                    </div><!-- / container -->
                </section>
                <!-- / contact -->
                <footer>
                    <div class="container">
                        <p class="footer-info">


                        </p>
                    </div><!-- / container -->
                </footer><!-- / light-footer -->
                <!-- scroll to top -->
                <a href="#top" class="scroll-to-top page-scroll is-hidden" data-nav-status="toggle"><i class="fa fa-angle-up"></i></a>
                <!-- / scroll to top -->
            </div><!-- / container-fluid -->
        </div><!-- / page-content-wrapper -->
    </div><!-- / wrapper -->


                        <!-- javascript -->
                        <script src="~/js/jquery.min.js"></script>
                        <script src="~/js/bootstrap.min.js"></script>
                        <script src="~/js/jquery.easing.min.js"></script>
                       
                        <!-- menu toggle script -->
                        <script>
                            $("#menu-toggle").click(function (e) {
                                e.preventDefault();
                                $("#wrapper").toggleClass("toggled");
                            });
                        </script>
                        <!-- / menu toggle script -->
                        <!-- nav scroll -->
                        <script src="~/js/scrolling-nav.js"></script>
                        <script>
                            $(".sidebar-nav a").on("click", function () {
                                $(".sidebar-nav").find(".active").removeClass("active");
                                $(this).parent().addClass("active");
                            });
                        </script>
                        <!-- / nav scroll -->
                        <!-- contact form -->
                        <script src="~/js/validator.min.js" type="text/javascript"></script>
                        <script src="~/js/form-scripts.js" type="text/javascript"></script>
                        <!-- / contact form -->
                        <!-- facts counter -->
                        <script src="~/js/jquery.countTo.js"></script>
                        <script type="text/javascript">
                            $('.timer').countTo({
                                refreshInterval: 60,
                                formatter: function (value, options) {
                                    return value.toFixed(options.decimals);
                                },
                            });</script>
                        <!-- / facts counter -->
                        <!-- portfolio script -->
                        <script src="~/js/jquery.shuffle.min.js"></script>
                        <script src="~/js/custom.js"></script>
                        <!-- / portfolio script -->
                        <!-- posts carousel -->
                        <script src="~/js/owl.carousel.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $("#posts-carousel").owlCarousel({
                                    items: 3,
                                    itemsDesktop: [1199, 3],
                                    itemsDesktopSmall: [979, 3]
                                });

                            });
                        </script>
                        <!-- / posts carousel -->
                        <!-- hide nav -->
                        <script src="~/js/hide-nav.js"></script>
                        <!-- / hide nav -->
                        <!-- / javascript -->
                        <script src="~/js/allexe.js"></script>
                        <script src="~/Scripts/SyntaxHighlighter/scripts/shCore.js"></script>
                        <script src="~/Scripts/SyntaxHighlighter/scripts/shBrushJScript.js"></script>
                        <script type="text/javascript">
                            SyntaxHighlighter.all()
                        </script>
                 
                       

    </body>
</html>


