<appSettings>
  <add key="username" value="sarveshpatel123"/>
  <add key="password" value="zqeqvpifzzuqelmz"/>
  <add key="emailfrom" value="sarveshpatel123@gmail.com"/>
  <add key="emailto" value="sarveshpatel123@gmail.com"/>
  <add key="host" value="smtp.gmail.com"/>
  <add key="port" value="587"/>
</appSettings>
